    </main>
    <footer class="site-footer">
        <p>© 2024 GameLog. All rights reserved. Game data provided by <a href="https://rawg.io/" target="_blank">RAWG.io</a>.</p>
    </footer>
</body>
</html>